    
    
    html {
      scroll-behavior: smooth;
    }
    
    body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  h3{
    font: 35px Montserrat, sans-serif;
    font-weight: bold;
  }
  p {font-size: 16px; overflow: auto;}
  .margin {margin-bottom: 45px;}
  .margin_columns {margin-bottom: 25px; font: 30px Montserrat, sans-serif;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  
  .hov:hover {
      opacity: 50%;
      cursor: pointer;
  }
  
  
  
  #myBtn {
      background-color: brown;
      padding: 10px;
      margin-bottom: 20px;
  }
  
  #myBtn:hover {
      color: deepskyblue;
      background-color: crimson;
  }
  
  button:focus { outline:0 !important; color:white !important;}
  
  .slide {
    overflow: hidden;
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0%);
    }
  }
  